<div class="belt">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <strong>
                    <a href="/">Home</a>
                    {% if page.prenav or page.nav %}
                      {% for crumb in page.prenav %}
                        / {% if crumb[1] %}<a href="{{ crumb[1] }}">{{ crumb[0] }}</a>{% else %}{{ crumb[0] }}{% endif %}
                      {% endfor %}
                      {% for crumb in page.nav %}
                        / {% if crumb[1] %}<a href="{{ crumb[1] }}">{{ crumb[0] }}</a>{% else %}{{ crumb[0] }}{% endif %}
                      {% endfor %}
                    {% elsif page.author %}
                      / <a href="/blog/">Blog</a>
                      / {{ page.title }}
                    {% else %}
                      / {{ page.title }}
                    {% endif %}
                </strong>
            </div>
            {% if page.url contains "/blog/" %}
            <div class="col-lg-4">
                <div class="pull-right">
                    <strong>

                        <a href="http://www.logsearch.io/feed.xml">Subscibe via RSS <img src="/images/rss-icon.png" alt="Subscribe via RSS"></a>
                    </strong>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</div>