<div class="belt">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<strong>
					Do you want to stay in the loop? Subscribe to the Logsearch newsletter!
				</strong>
				<form class="form-inline" role="form">
					<div class="input-group">
						<label class="sr-only" for="exampleInputEmail2">Email address</label>
						<input type="email" class="form-control" id="exampleInputEmail2" placeholder="Enter email">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button">Subscribe!</button>
                        </span>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>