<div class="belt">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<strong>
                    <a href="{{relative page.dest "_gh_pages/index.html"}}">Home</a> / {{title}}
				</strong>
			</div>
		</div>
	</div>
</div>