<div class="ls-home-featurette">

    <p class="lead home"><em>Just add credentials</em> deployment of your own Elasticsearch ELK log analysis cluster on any <a title="AWS, OpenStack, Google App Engine, vSphere">modern</a> cloud.</p>

    <hr class="half-rule">

    <div class="row">
        <div class="col-sm-4 feature">
            <img src="assets/images/performance.png" alt="Powerful performance" class="img-responsive">

            <h3>Powerful performance</h3>

            <ul>
                <li><a title="Log events are typically available for searching 1-2s after being created in the source system">Near real-time</a> search across billions of logs</li>
                <li><a title="Auto updated every 30s">Live dashboards</a> of your most important metrics</li>
                <li><a title="Most queries take < 10 seconds to run">Instant</a> slicing and dicing across your logs to spot trends</li>
            </ul>
        </div>
        <div class="col-sm-4 feature">
            <img src="assets/images/scalability.png" alt="Automatic scalability" class="img-responsive">

            <h3>Automatic scalability</h3>

            <ul>
                <li><a title="... except for the queue; but we're working on that :-)">All</a> components are horizontally scalable</li>
                <li>Change a config file and redeploy to scale up or down in minutes</li>
                <li>Zero downtime deploys.  Roll changes across redundant components to ensure no loss of service.</li>
            </ul>
        </div>
        <div class="col-sm-4 feature">
            <img src="assets/images/anomaly.png" alt="Anomaly detection" class="img-responsive">

            <h3>Anomaly detection <span class="label label-info">Coming soon!</span></h3>

            <ul>
                <li>#monitoring_<strike>sucks</strike>&nbsp;rocks!</li>
                <li>REST api for searching all your logs</li>
                <li>A toolkit for automating the watching of dashboards / metrics and alerting you when the unexpected happens</li>
            </ul>
           
        </div>
    </div>


    <hr class="half-rule">

    <p class="lead">Join our open source community and help redefine #monitoring_sucks to #monitoring_rocks!</p>
    <a href="https://github.com/logsearch/logsearch" class="btn btn-outline">View the GitHub project</a>
    <a href="https://github.com/logsearch/logsearch" class="btn btn-outline">Subscribe to Logsearch news</a>


</div>