<div class="ls-home-featurette">

    <div class="row">
        <div class="col-sm-4 feature">
            <img src="assets/images/performance.png" alt="Powerful performance" class="img-responsive">

            <h3>Powerful performance</h3>

            <ul>
                <li><a title="Log events are typically available for searching 1-2s after being created in the source system">Near real-time</a> search across billions of logs</li>
                <li><a title="Auto updated every 30s">Live dashboards</a> of your most important metrics</li>
                <li><a title="Most queries take < 10 seconds to run">Instant</a> slicing and dicing across your logs to spot trends</li>
            </ul>
        </div>
        <div class="col-sm-4 feature">
            <img src="assets/images/scalability.png" alt="Automatic scalability" class="img-responsive">

            <h3>Automatic scalability</h3>

            <ul>
                <li><a title="... except for the queue; but we're working on that :-)">All</a> components are horizontally scalable</li>
                <li>Single file change to scale within minutes</li>
                <li>Deploy procedures for zero downtime</li>
            </ul>
        </div>
        <div class="col-sm-4 feature">
            <img src="assets/images/anomaly.png" alt="Anomaly detection" class="img-responsive">

            <h3>Anomaly detection <span class="label label-info">Coming soon!</span></h3>

            <ul>
                <li>#monitoring<strike>sucks</strike>&nbsp;rocks!</li>
                <li>REST api for searching all your logs</li>
                <li>Automatically alerting you to the unexpected</li>
            </ul>
           
        </div>
    </div>


    <hr class="half-rule">

    <div class="row">
        <div class="col-sm-6">
            <p class="lead">Join our open source community and help redefine #monitoringsucks to #monitoringrocks!</p>
            <a href="https://github.com/logsearch" target="_blank" class="btn btn-outline">View the GitHub projects</a>
            <a href="{{relative page.dest "_gh_pages/subscribe.html"}}" class="btn btn-outline">Subscribe to Logsearch news</a>
        </div>
        <div class="col-sm-6">
            <p class="lead">Just add credentials deployment of your own Elasticsearch ELK log analysis cluster on any <a title="AWS, OpenStack, Google Compute">modern</a> cloud.</p>
            <img src="assets/images/modern-cloud.png" alt="Modern Cloud" class="img-responsive">
        </div>
    </div>
</div>
