<div class="ls-home-featurette">

    <h1 class="page-header home">Flexible log parsing for everyone.</h1>

    <p class="lead home">Logsearch is an open-source project that provides you with an extremely powerful and easily scalable cloud orientated solution that delivers unprecedented and highly customizable insight into your entire operations!</p>

    <hr class="half-rule">

    <div class="row">
        <div class="col-sm-4 feature">
            <img src="assets/images/performance.png" alt="Powerful performance" class="img-responsive">

            <h3>Powerful performance</h3>

            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam a scelerisque nisi. In porttitor et augue eu aliquet. Ut congue elit nec velit pretium, at posuere est euismod. Aenean id ullamcorper arcu, mattis placerat ipsum. Nullam in nisl metus.</p>
        </div>
        <div class="col-sm-4 feature">
            <img src="assets/images/scalability.png" alt="Automatic scalability" class="img-responsive">

            <h3>Automatic scalability</h3>

            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam a scelerisque nisi. In porttitor et augue eu aliquet. Ut congue elit nec velit pretium, at posuere est euismod. Aenean id ullamcorper arcu, mattis placerat ipsum. Nullam in nisl metus.</p>
        </div>
        <div class="col-sm-4 feature">
            <img src="assets/images/anomaly.png" alt="Anomaly detection" class="img-responsive">

            <h3>Anomaly detection <span class="label label-info">Coming Soon!!</span></h3>

            <p>With the ever improving features of Elasticsearch and combined with our own Logsearch requirements around anomaly detection
                we feel this is going to be where the real excitement takes place. <a href="#">Subscribe</a> now to make sure you don't miss this release.</p>
        </div>
    </div>


    <hr class="half-rule">

    <p class="lead">Open source software without a great community behind it is as useless as a white crayon, it is therefore important to
        us to build an amazing community with whom we can share, engage and collaborate on the future development of Logsearch.</p>
    <a href="https://github.com/logsearch/logsearch" class="btn btn-outline">View the GitHub project</a>
    <a href="https://github.com/logsearch/logsearch" class="btn btn-outline">Subscribe to Logsearch news</a>


</div>