<div class="bs-docs-featurette">

    <h1 class="page-header home">Flexible log parsing for everyone.</h1>

    <p class="lead home">Logsearch is an open-source project that provides you with an extremely powerful and easily scalable cloud orientated solution that delivers unprecedented and highly customizable insight into your entire operations!</p>

    <hr class="half-rule">

    <div class="row">
        <div class="col-sm-4">
            <img src="assets/img/sass-less.png" alt="Sass and Less support" class="img-responsive">

            <h3>Powerful performance</h3>

            <p>Logsearch enables you to easily process millions of log entries and with the built-in automated scalability we are able to do this without affecting the performance of your system.</p>
        </div>
        <div class="col-sm-4">
            <img src="assets/img/devices.png" alt="Responsive across devices" class="img-responsive">

            <h3>Automatic scalability</h3>

            <p>Bootstrap easily and efficiently scales your project with one code base, from phones to tablets to
                desktops.</p>
        </div>
        <div class="col-sm-4">
            <img src="assets/img/components.png" alt="Components" class="img-responsive">

            <h3>Anomaly detection <span class="label label-info home">Coming Soon!!</span></h3>

            <p>With the ever improving features of Elasticsearch and combined with our own Logsearch requirements around anomaly detection
                we feel this is going to be where the real excitement takes place. <a href="#">Subscribe</a> now to make sure you don't miss this release.</p>
        </div>
    </div>


    <hr class="half-rule">

    <p class="lead">Open source software without a great community behind it is as useless as a white crayon, it is therefore important to
        us to build an amazing community with whom we can share, engage and collaborate on the future development of Logsearch.</p>
    <a href="https://github.com/logsearch/logsearch" class="btn btn-outline">View the GitHub project</a>
    <a href="https://github.com/logsearch/logsearch" class="btn btn-outline">Subscribe to Logsearch news</a>


</div>