<footer class="bs-footer" role="contentinfo">
  <div class="container">

    {{#if production}}
      {{> social-buttons }}
    {{/if}}

    <p><a href="https://github.com/assemble/assemble" target="_blank">Logsearch </a>&nbsp;was created and open sourced by <a href="http://www.cityindex.co.uk" target="_blank">City Index</a></p>
    <!--<p>Documentation source code released under the <a href="{{ site.license.url }}" target="_blank">{{ site.license.type }}&nbsp;</a> License, documentation under <a href="http://www.apache.org/licenses/LICENSE-2.0.html">Apache License, Version 2.0</a>.</p>-->
    <ul class="footer-links">
      <li>Currently v{{ site.assemble.latest }}</li>
    </ul>
  </div>
</footer>