<div class="mc-signup">

	<p class="lead">Make sure you don't miss out on any Logsearch related news by signing up for our newsletter.</p>

	<hr class="half-rule">

	<div class="row">
        <div class="col-sm-12">
            MC Signup form here...
        </div>
	</div>

</div>