---
layout: sidebar.hbs

title: Getting Started
slug: getting-started
lead: An overview of Logsearch and to install it
---


<!-- History -->
<div class="bs-docs-section">
	<div class="page-header">
		<h1 id="history">Introduction</h1>
	</div>
	<p class="lead">Documentation coming soon...</p>

	<p>We are in the process of moving across and updating our current documentation on Logsearch. We will notify our subscribers as soon as it is here.</p>

</div>