---
layout: sidebar.hbs

title: Docs
slug: docs
lead: <%= site.description %>
---


<!-- History -->
<div class="bs-docs-section">
	<div class="page-header">
		<h1 id="history">Getting Started</h1>
	</div>
	<p class="lead">Documentation coming soon...</p>

	<p>We are in the process of moving across and updating our current documentation on Logsearch. We will notify our subscribers as soon as it is here.</p>

</div>