---
layout: default
---

<div class="row">
  <div class="col-md-3">
    <div class="bs-sidebar hidden-print" role="complementary">
      <div style="margin:30px 10px 30px 0;color:#494949">
        <p>
          By {% if page.author_website %}<a href="{{ page.author_website }}">{{ page.author }}</a>{% else %}{{ page.author }}{% endif %}
          (<a href="https://github.com/{{ page.author_github }}">@{{ page.author_github }}</a>)<br />
          {{ page.date|date:"%A, %B %d, %Y" }}
        </p>
        <p><small>{{ page.description }}</small></p>
      
        {% if page.next or page.previous %}
          <hr />
        {% endif %}
      
        {% if page.next %}
          <p>
            <small>Next Post</small><br />
            <a href="{{ page.next.url }}">{{ page.next.title }}</a>
          </p>
        {% endif %}

        {% if page.previous %}
          <p>
            <small>Previous Post</small><br />
            <a href="{{ page.previous.url }}">{{ page.previous.title }}</a>
          </p>
        {% endif %}
      </div>
    </div>
  </div>
  <div class="col-md-9" role="main">
    <div class="bs-docs-section" style="margin-top:24px;">
      {{ content }}
    </div>
  </div>
</div>
