.ls-home-featurette {
	margin-top: 55px;

	.feature {
		h3, p {
			text-align: center;
		}

		p {
			line-height: 1.5;
		}

		.label {
			font-size: 11px;
			vertical-align: middle;
		}

		ul {
			list-style: none;
			padding: 0 25px;
			text-align: center;
			margin: 0;

			li {
				border-top: 1px dashed #eee;
				margin-bottom: 12px;
				padding-top: 12px;
			}

			li:first-child {
				border-top: none;
			}
		}
	}

	.lead.home {
		margin-top: 40px;
	}
}