/*
 * Topography, yo!
 *
 */

.bs-docs-home,
.bs-header {
	color: #333;
	background-color: #fff;
	background-image: url("../images/intro-bg.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50%;
}

.bs-header p {
	color: #E2F6E6;
}